name: Build & Release APK

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Install Android SDK & Build Tools
        run: |
          # Crear carpeta SDK
          mkdir -p $HOME/android-sdk/cmdline-tools
          cd $HOME/android-sdk/cmdline-tools
          
          # Descargar command line tools
          curl -o commandlinetools.zip https://dl.google.com/android/repository/commandlinetools-linux-9477386_latest.zip
          unzip commandlinetools.zip
          mkdir -p latest
          mv cmdline-tools/* latest/
          
          # Configurar variables de entorno
          echo "ANDROID_SDK_ROOT=$HOME/android-sdk" >> $GITHUB_ENV
          echo "$HOME/android-sdk/platform-tools" >> $GITHUB_PATH
          echo "$HOME/android-sdk/build-tools/36.0.0" >> $GITHUB_PATH
          
          # Instalar plataformas y build-tools
          yes | $HOME/android-sdk/cmdline-tools/latest/b
