name: Build and Release APK

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 24.0.1

      - name: Make Gradle executable
        run: chmod +x gradlew

      - name: Generate Keystore
        run: |
          keytool -genkey -v -keystore myslog.jks -keyalg RSA -keysize 2048 -validity 10000 -alias myslog -storepass ${{ secrets.KEYSTORE_PASSWORD }} -keypass ${{ secrets.KEY_PASSWORD }} -dname "CN=, OU=, O=, L=, S=, C="

      - name: Build Release APK
        run: ./gradlew :app:assembleRelease
        env:
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}

      - name: Rename APK
        run: |
          mv app/build/outputs/apk/release/app-release.apk app/build/outputs/apk/release/MysLog-v1.0.${{ github.run_number }}.apk

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: MysLog-release-apk
          path: app/build/outputs/apk/release/MysLog-v1.0.${{ github.run_number }}.apk

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v1.0.${{ github.run_number }}
          name: "Release v1.0.${{ github.run_number }}"
          files: app/build/outputs/apk/release/MysLog-v1.0.${{ github.run_number }}.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
